<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- 引用dubbo 服务 -->
	<dubbo:application name="pinyougou-manager-web" />
	<dubbo:registry protocol="zookeeper" address="47.106.232.70:2181"/>
	<dubbo:reference interface="com.pinyougou.sellergoods.service.BrandService" id="brandService" timeout="300000"/>
	<dubbo:reference interface="com.pinyougou.sellergoods.service.SpecificationService" id="specificationService" timeout="300000"/>
	<dubbo:reference interface="com.pinyougou.sellergoods.service.TypeTemplateService" id="typeTemplateService" timeout="300000"/>
	<dubbo:reference interface="com.pinyougou.sellergoods.service.SellerService" id="sellerServiceImpl" timeout="300000"/>
	<dubbo:reference interface="com.pinyougou.sellergoods.service.GoodsService" id="goodsServiceImpl" timeout="300000"/>
	<dubbo:reference interface="com.pinyougou.sellergoods.service.ItemCatService" id="itemCatServiceImpl" timeout="300000"/>
			
	<context:property-placeholder location="classpath:config/application.properties" />
	
	<!-- 配置包扫描器，扫描@Controller注解的类 -->
	<context:component-scan base-package="com.pinyougou.shop.controller"/>

	<mvc:annotation-driven>
		<mvc:message-converters register-defaults="true">
			<bean
				class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
				<property name="supportedMediaTypes">
					<list>
						<value>text/html;charset=UTF-8</value>
						<value>application/json</value>
						<value>application/xml;charset=UTF-8</value>
					</list>
				</property>
				<property name="features">
					<list>
						<!-- 默认的意思就是不配置这个属性，配置了就不是默认了 -->
						<!-- 是否输出值为null的字段 ，默认是false -->
						<value>WriteMapNullValue</value>
						<value>WriteNullNumberAsZero</value>
						<value>WriteNullListAsEmpty</value>
						<value>WriteNullStringAsEmpty</value>
						<value>WriteNullBooleanAsFalse</value>
						<value>WriteDateUseDateFormat</value>
					</list>
				</property>
			</bean>

		</mvc:message-converters>
	</mvc:annotation-driven>
	
	<!-- 配置多媒体解析器 -->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="defaultEncoding" value="UTF-8"></property>
		<!-- 设定文件上传的最大值 5MB，5*1024*1024 -->
		<property name="maxUploadSize" value="5242880"></property>
	</bean>

</beans>